@model IEnumerable<MVC5Homework.Models.CustomView>

@{
    ViewBag.Title = "客戶清單jQuery Ajax Call";
}

<h2>ReadCustomView</h2>
@using (Html.BeginForm("ReadCustomView", "Custom", FormMethod.Get, new { name = "form0"}))
{
<p>
    <input type="submit" class="btn btn-default"
           value="Export" formaction="@Url.Action("ExportData")" />
</p>
<table id="mytb" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("客戶名稱")
            </th>
            <th>
                @Html.DisplayName("聯絡人數量")
            </th>
            <th>
                @Html.DisplayName("銀行帳戶數量")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.聯絡人數量)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.銀行帳戶數量)
                </td>
            </tr>
        }*@

</table>
}
@section scripts
{
<script src="~/Scripts/jquery-1.10.2.min.map"></script>
<script >

$(function () {

    //$("#mytb tbody tr").remove();
    $.ajax({
        type: 'POST',
        url: '@Url.Action("GetTotalCust")',
        dataType: 'json',
        data: { },
        success: function (data) {
            var items = '';
            $.each(data, function (i, item) {
                var rows = "<tr>"
                + "<td >" + item.客戶名稱 + "</td>"
                + "<td >" + item.聯絡人數量 + "</td>"
                + "<td >" + item.銀行帳戶數量 + "</td>"
                + "</tr>";
                $('#mytb tbody').append(rows);
            });

        },
        error: function (ex) {
            var r = jQuery.parseJSON(response.responseText);
            alert("Message: " + r.Message);
            alert("StackTrace: " + r.StackTrace);
            alert("ExceptionType: " + r.ExceptionType);
        }
    });
    return false;
});

</script>
    }

@section breadcrumb
{
    <li>
        <a href="@Url.Action("ReadCustomView","Custom")">客戶清單</a>
        <i class="icon-angle-right"></i>
    </li>
}