@model MVC5Homework.Models.客戶聯絡人

@{
    ViewBag.Title = "客戶聯絡人Edit";
}

<h2>客戶聯絡人Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "客戶聯絡人Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section breadcrumb
{
    <li>
        <a href="@Url.Action("客戶聯絡人Index","客戶聯絡人")">客戶聯絡人</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("客戶聯絡人Edit","客戶聯絡人")">Edit</a>
        <i class="icon-angle-right"></i>
    </li>
}