@model MVC5Homework.Models.客戶聯絡人

@{
    ViewBag.Title = "客戶聯絡人Details";
}

<h2>客戶聯絡人Details</h2>
@Html.DisplayFor(model => model)
<p>
    @Html.ActionLink("Edit", "客戶聯絡人Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "客戶聯絡人Index")
</p>

@section breadcrumb
{
    <li>
        <a href="@Url.Action("客戶聯絡人Index","客戶聯絡人")">客戶聯絡人</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("客戶聯絡人Details","客戶聯絡人")">Detail</a>
        <i class="icon-angle-right"></i>
    </li>
}
