@using PagedList
@using PagedList.Mvc
@model IPagedList<MVC5Homework.Models.客戶聯絡人>

@{
    ViewBag.Title = "客戶聯絡人Index";
}

<h2>客戶聯絡人Index</h2>
@using (Html.BeginForm())
{
    <p>
        <table>
            <tr>
                @{
                    if (Context.User.IsInRole("board_admin"))
                    {
                        <td>@Html.ActionLink("Create New", "客戶聯絡人Create") |</td>
                    }
                }
                <td>
                    <input type="submit" class="btn btn-default" value="Export" formaction="@Url.Action("ExportData")" />
                    @Html.Hidden("indexQueryKeyword", @TempData["Keyword"])
                    @Html.Hidden("indexQueryTitle", @TempData["Title"])
                    |
                </td>
                <td><input class="form-control" id="txtKeyword" name="keyword" type="text" /></td>
                <td>
                    @Html.DropDownList("職稱", null, "全部", htmlAttributes: new { @class = "form-control" })
                </td>
                <td><input type="submit" class="btn btn-default" value="搜尋" formaction="@Url.Action("客戶聯絡人Index")"></td>
            </tr>
        </table>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("客戶名稱", "客戶聯絡人Index", new { sortOrder = ViewBag.NameSortParm, keyword = @TempData["Keyword"], 職稱 = @TempData["Title"] })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().職稱)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().姓名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().手機)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().電話)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.職稱)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.姓名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.手機)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話)
                </td>
                @{
                    if (Context.User.IsInRole("board_admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "客戶聯絡人Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "客戶聯絡人Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "客戶聯絡人Delete", new { id = item.Id })
                        </td>
                    }
                }
            </tr>
                    }

    </table>
    @Html.PagedListPager(Model, page => Url.Action("客戶聯絡人Index", new { page, 職稱 = TempData["Title"] }))
                    }