@model MVC5Homework.Models.客戶資料

@{
    ViewBag.Title = "客戶資料Edit";
}

<h2>客戶資料Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "客戶資料Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@section breadcrumb
{
    <li>
        <a href="@Url.Action("客戶資料Index","客戶資料")">客戶資料</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("客戶資料Edit","客戶資料")">Edit</a>
        <i class="icon-angle-right"></i>
    </li>
}