@model MVC5Homework.Models.客戶銀行資訊

@{
    ViewBag.Title = "客戶銀行資訊Edit";
}

<h2>客戶銀行資訊Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "客戶銀行資訊Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@section breadcrumb
{
    <li>
        <a href="@Url.Action("客戶銀行資訊Index","客戶銀行資訊")">客戶銀行資訊</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="@Url.Action("客戶銀行資訊Edit","客戶銀行資訊")">Edit</a>
        <i class="icon-angle-right"></i>
    </li>
}